.scanner {
    flex: 6;
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
}

.cam-scanner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
}